@import "../../../styles/colors.scss";

.dropdownContainer {
  position: relative;
  display: inline-block;

  .dropdownTitle {
    background-color: inherit;
    color: $dropdown-title;
    border: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
  }
  .arrowIcon {
    color: $dropdown-icons;
    width: 10px;
    height: 6px;
    margin-left: 8px;
  }
  .active {
    color: $dropdown-icons-active;
  }

  .dropdownMenu {
    min-width: 133px;
    position: absolute;
    top: 22px;
    background-color: $white;
    border-radius: 8px;
    padding: 4px 0px;
    box-shadow: 0px 4px 20px 0px $dropdown-hover-bg;
    z-index: 1000;

    .dropdownItem {
      padding: 7px 12px;
      color: $dropdown-item;
      font-family: "SF Compact Display", sans-serif;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      cursor: pointer;
      &:hover {
        background-color: $dropdown-hover-bg;
      }
    }
    .dropdownItemActive {
      color: $dropdown-selected-item;
    }
    .dropdownItemDefault {
      color: $dropdown-item;
    }
  }
  .dropdownMenuAlignRight {
    right: 0px;
  }
}
