@import "../../styles/colors.scss";

.filterRow {
  width: 1440px;
  margin: 0 auto;
  height: 24px;
  margin-bottom: 16px;
  font-size: 14px;
  color: $text-secondary;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  .callTypes {
    display: flex;
    gap: 20px;
  }
}
