//main
$white: #ffffff;
$main-bg: #f1f4f9;

//table
$table-shadow: #e9edf3;
$table-bg: $white;
$row-divider: #eaf0fa;
$row-hover: rgba(212, 223, 243, 0.17);

//text
$text-primary: #122945;
$text-secondary: #5e7793;
$text-rating-perfect: #020202;
$text-rating-bad: #ea1a4f;
$text-rating-good: #122945;
$text-date-separator-counter:#899CB1;

//rating
$rating-perfect-bg: #dbf8ef;
$rating-bad-bg: #fee9ef;
$rating-good-bg: #d8e4fb;
$rating-perfect-border: #00a775;
$rating-bad-border: #ea1a4f;
$rating-good-border: #adbfdf;

//avatart
$no-avatar-bg: $row-divider;

//player
$player-bg: $row-divider;
$player-btn-hover: #002cfb;
$player-progress-bar-time-elapsed: #002cfb;
$player-progress-bar-time-remaining: #adbfdf;
$player-play-pause-btn-bg: $white;
$player-btn-active: #002cfb;
$player-btn-disabled: #adbfdf;

//dropdowns filters
$dropdown-icons: #adbfdf;
$dropdown-icons-active: #002CFB;
$dropdown-item: #2b2d33;
$dropdown-selected-item: #015ef5;
$dropdown-hover-bg: #dee4ff;
$dropdown-container-shadow: #00000014;
$dropdown-title: #1F46FB;
$sort-by-active : #015ef5
