$main-bg: #f1f4f9;

$table-shadow: #e9edf3;
$table-bg: #ffffff;

$row-divider: #eaf0fa;
$row-hover: rgba(212, 223, 243, 0.17);

$text-primary: #122945;
$text-secondary: #5e7793;

$text-rating-perfect: #00a775;
$text-rating-bad: #ea1a4f;
$text-rating-good: $text-primary;

$rating-perfect-bg: #dbf8ef;
$rating-bad-bg: #ea1a4f;
$rating-good-bg: #d8e4fb;

$rating-perfect-border: $text-rating-perfect;
$rating-bad-border: $text-rating-bad;
$rating-good-border: #adbfdf;
