@import "../../styles/colors.scss";

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 65px;
  gap: 30px;
  font-size: 15px;
  color: $text-primary;
  font-size: 14px;
  padding: 0 40px;
  position: relative;
  &:hover {
    background-color: $row-hover;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    left: 40px;
    right: 40px;
    background-color: $row-divider;
  }
  .callType {
    width: 24px;
    display: flex;
    justify-content: center;
    img {
      width: 12px;
      height: 12px;
    }
  }
  .time {
    width: 58px;
  }
  .employee {
    width: 100px;
  }
  .call {
    width: 295px;
  }
  .source {
    width: 185px;
    color: $text-secondary;
  }
  .rating {
    width: 164px;
  }
  .duration {
    width: 352px;
    text-align: right;
    font-size: 15px;
    margin-right: 0px;
  }
}
