@import "../../styles/colors.scss";

.row {
  border-top: 1px solid $row-divider;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 65px;
  gap: 30px;
  font-size: 15px;
  color: $text-primary;
  font-size: 14px;
  &:hover {
    background-color: $row-hover;
  }
  .callType {
    width: 24px;
    display: flex;
    justify-content: center;
    img {
      width: 12px;
      height: 12px;
    }
  }
  .time {
    width: 58px;
  }
  .employee {
    width: 100px;
  }
  .call {
    width: 295px;
  }
  .source {
    width: 185px;
    color: $text-secondary;
  }
  .rating {
    width: 164px;
  }
  .duration {
    width: 352px;
    text-align: right;
    font-size: 15px;
    margin-right: 0px;
  }
}

.playerContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 48px;
  padding: 12px 18px;
  background-color: $player-bg;
  border-radius: 48px;

  .pined {
    display: flex;
  }
  .unPined {
    display: none;
  }

  .progressBar {
    width: 164px;
    height: 4px;
    background-color: $player-progress-bar-time-remaining;
    border-radius: 5px;
    position: relative;
    margin-right: 18px;
    .progress {
      height: 4px;
      background-color: $player-progress-bar-time-elapsed;
      transition: width 0.1s;
    }
    .tooltip {
      font-size: 14px;
      line-height: 20px;
      position: absolute;
      bottom: 4px;
    }
    .rightAlign {
      transform: translateX(0);
    }
    .leftAlign {
      transform: translateX(-100%);
    }
  }
  .playerTime {
    width: 38px;
    text-align: right;
    margin-right: 12px;
  }

  .playPauseBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    border-radius: 50%;
    background-color: $white;

    svg {
      width: 8px;
      height: 10px;
      margin-left: 2px;
    }
  }

  .downloadBtn {
    margin-right: 22px;
    svg {
      width: 13px;
      height: 16px;
    }
  }
  .closeBtn {
    svg {
      width: 14px;
      height: 14px;
    }
  }

  .downloadBtn,
  .closeBtn,
  .playPauseBtn {
    border: none;
    cursor: pointer;
    color: $player-btn-active;
    &:disabled {
      color: $player-btn-disabled;
    }
  }
}
