@import "../../styles/colors.scss";
@import "../table-row/table-row.module.scss";

.row {
  font-size: 14px;
  color: $text-secondary;
  &:first-child::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    left: 40px;
    right: 40px;
    background-color: $row-divider;
  }
  &:hover {
    background-color: inherit;
  }
  .callType {
    justify-content: left;
  }
  .time,
  .duration {
    cursor: pointer;
    &:hover {
      color: $sort-by-active;
    }
    span {
      line-height: 24px;
      margin-right: 7px;
    }
    svg {
      width: 10px;
      height: 6px;
    }
  }
  .active {
    color: $sort-by-active;
  }
}
