@import "../../styles/colors.scss";

.mainWrapper {
  background-color: $main-bg;
  min-height: 100vw;
  padding: 80px 0px;
  user-select: none;
}

.tableContent {
  width: 1440px;
  margin: 0 auto;
  border-radius: 8px;
  background-color: $table-bg;
  box-shadow: 0px 4px 5px 0px $table-shadow;
}
