@import url("https://fonts.cdnfonts.com/css/sf-pro-display");
@import url('https://fonts.cdnfonts.com/css/sf-compact-display');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SF Pro Display", sans-serif;
}
